@media screen {
	div[id^=morfo] tr.status-0 {background: #FFFFC6;}
	div[id^=morfo] tr.status-4 {background: #9CD69C;} 
	.morfoRegnum {display:inline-block; border: 1px #333 solid !important; padding: 5px; min-width:20px; min-height:20px; text-align:center;}

}

@media print {
	#morfoReportList {display:none;}
	div.print-area {display:block;}
	table {width:95%; font-size:12px; border:1px #999 solid; }
	th, td {border:1px #999 solid; padding:2px; margin:0;}
}
