@media screen {
#form-027u {margin-left:15px; display:block; width:100%;}
#form-027u * {color: #000;}
#form-027u ul li {list-style-type: none;}
#form-027u input {width:95%; padding: 1px;  font-style: italic;}
#form-027u input.small {width:100px;}
#form-027u input.medium {width:400px;}
#form-027u input.addinf {width:200px; display:none;}
#form-027u textarea {width:95%; resize:none;  font-style: italic; padding: 3px; display:block;}
#form-027u textarea.current, #form-027u input.current {border: 1px solid #000;}
#form-027u select[multiple] {overflow: hidden; background: transparent; border:0px;}
#form-027u select[multiple] option {padding-left: 20px; padding-right: 20px;}
#form-027u select[multiple] option[set] {background-color:#ADD8E6 !important; border-left: 10px #008000 solid;}
#form-027u u {font-style: italic;}
#form-027u ul {list-style: none; margin-bottom: 17px;}
#form-027u ul li {margin-bottom: 13px;}
#form-027u ul.inline li {display: inline;}
#form-027u ul.block li {display: block; }
#form-027u ul.inline-block li {display: inline-block; vertical-align: top;}
#form-027u .text {line-height:32px; }
#form-027u .text .remark {position:absolute; width:100%; margin-top: 22px; text-align:center; font-size:70%;}
#form-027u table {border:0; border-top:1px #000 solid; border-bottom:1px #000 solid; clear:both; width: auto; margin-bottom: 10px;}
#form-027u table td {text-align:center; vertical-align:top;border-right:1px #000 solid;}
#form-027u table td:last {border-right:0px;}
#form-027u table td:first {width:50%;}
#form-027u table tr { border: 1px #555 solid;}
#form-027u table tr th { text-align:center; background-color: #bbb; padding-left: 15px;}
#form-027u table tr td { text-align:left;}
#form-027u h2 {text-align:center; font-size:18px;}
#form-027u h2 * {font-size:18px;}
#form-027u a.del_fld {position:absolute; margin-left: 0px; margin-top: 0px;;}
#form-027u select[multiple] {display:block; height: auto;}
#form-027u h3 {font-size:17px;margin-bottom: 14px;margin-top: 20px;}

}
@media print {
body {display:none;}
#form-027u {margin-left:50px;}
#form-027u * {font-size:12px; }
#form-027u ul li {list-style-type: none; margin-bottom:7px;}
#form-027u input {width:99%;  font-style: italic; border:0; color: #000;}
#form-027u input[name=toOrg] {border-bottom: 1px #000 solid; text-align:center;}
#form-027u input.small {width:100px;}
#form-027u input.medium {width:400px;}
#form-027u input.addinf {width:auto; height:auto; display:none;}
#form-027u input {display:none;}
#form-027u textarea {width:99%; resize:none;  font-style: italic; border:0; display:none;}
#form-027u select {border:0; -webkit-appearance: none;  font-style: italic; color: #000;}
#form-027u select[multiple] {display:none;}
#form-027u u {font-style: italic;}
#form-027u ul {list-style: none;}
#form-027u ul .bord {border:1px black solid;}
#form-027u ul li > ul {display:inline;} 
#form-027u ul li > ul li {display:inline;} 
#form-027u ul.inline li {display: inline;}
#form-027u ul.block li {display: block;}
#form-027u ul.inline-block li {display: inline-block; vertical-align: top;}
#form-027u .text {line-height:32px; }
#form-027u .text .remark {position:absolute; width:100%; margin-top: 15px; text-align:center; font-size:70%;}
#form-027u table {border:0; border-top:1px #000 solid; border-bottom:1px #000 solid; clear:both; width: auto; margin-bottom: 10px; width:100%;}
#form-027u table td {text-align:center; vertical-align:top;border-right:1px #000 solid; }
#form-027u table td:last {border-right:0px;}
/*#form-027u table td:first {width:50%;}*/
#form-027u table tr { border: 1px #555 solid;}
#form-027u table tr th { text-align:center; background-color: #bbb;}
#form-027u table tr td { text-align:left;}
#form-027u h2 {text-align:center; font-size:14px; border-top:1px black solid; border-bottom:1px black solid;}
#form-027u h2 * {font-size:18px;}
#form-027u a.del_fld {display:none;}
#form-027u span { font-style: italic;}
#form-027u .noprint {display:none;}
#form-027u .bottom-bord {border-bottom:1px black solid;}
#form-027u .bottomtop-bord {border-bottom:1px black solid;border-top:1px black solid;}
#form-027u button[name="nevr-toggle-in"] {display:none;}
}
